<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tes1"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.tes1.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ActivityJczq"
			android:label="竞彩足球赔率估算">
		</activity>
		<activity android:name=".ActivityJclq"
			android:label="竞彩篮球赔率估算">
		</activity>
		<activity android:name=".ActivityBjdc"
			android:label="北京单场赔率估算">
		</activity>
		<activity android:name=".ActivityLab"
			android:label="车库实验室">
		</activity>
    </application>

</manifest>